{% extends "base.html" %}

{% block content %}
{% load static %}

{% if request.user.is_authenticated %}

<script>

    let currentMessage = {}


    async function sendMessage() {
        console.log('test');
        let fd = new FormData();
        let token = '{{ csrf_token }}'
        let user = '{{ request.user }}'
        let id = '{{ id }}'



        let date = new Date()

        date = date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "numeric"
        })

        let container = document.getElementById('messageContainer')
        container.innerHTML += temporaryMessageHTML(user, inputMessage.value, date)

        fd.append('textmessage', inputMessage.value);
        fd.append('csrfmiddlewaretoken', token);
        try {
            let resp = await fetch(`/chat/?id=${id}`, {
                method: 'POST',
                body: fd
            })
            let message = await resp.json()
            inputMessage.value = ''

            setTimeout(() => {
                if (message) {
                    let deleteMessage = document.getElementById('deleteMessage')
                    deleteMessage.remove()
                }

                currentMessage = JSON.parse(message)
                console.log(currentMessage);
                let parsDate = Date.parse(currentMessage.fields.created_at)
                let actDate = new Date(parsDate)
                actDate = actDate.toLocaleDateString("en-US", {

                    year: "numeric",
                    month: "short",
                    day: "numeric"
                });


                container.innerHTML += renderMessageHTML(user, currentMessage.fields.text, actDate)

            }, 3000);

        } catch (e) {
            console.error('an error occured', e)
        }


    }

    function temporaryMessageHTML(user, message, date) {
        return /*html*/`
        <div id="deleteMessage">
                [${date}] ${user}: ${message}
        </div>
        `    }

    function renderMessageHTML(user, message, date) {
        return /*html*/`
        <div>
                [${date}] ${user}: ${message}
        </div>
        `    }


</script>
<script>
    async function startChat(contact) {
        let token = '{{ csrf_token }}'
        let url = '/home/'

        let fd = new FormData();
        fd.append('contact', contact);

        fd.append('csrfmiddlewaretoken', token);

        let resp = await fetch(url, {
            method: 'POST',
            body: fd
        })
        let id = await resp.json()
        if (id) {
            window.location.href = `../chat?id=${id}`;
        }
    }
    function backToHome() {
        window.location.href = '/home'
    }
</script>


<div class="sidebar">

    <h5 style="color: white;">Select a contact to chat</h5>

    <div id="contact-container">
        {% csrf_token %}
        {% for contact in contacts %}
        <div>
            <div onclick="startChat('{{contact.contact}}')" class="contact">
                {% if contact.male %}
                <img class="avatar" src="{% static 'assets/img/avatar_male_1.png'%}" alt="">
                {% else %}
                <img class="avatar" src="{% static 'assets/img/avatar_female_1.png'%}" alt="">
                {% endif %}
                {{contact.contact}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="main-content">

    <button style="margin-left: 0;" onclick="backToHome()"
        class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">arrow_back</i>
    </button>

    <h1>Your private conversation with {{receiver}}</h1>



    <div id="messageContainer">
        {% for message in messages %}
        <div>
            [{{message.created_at}}] {{request.user}}: {{ message.text }}
        </div>

        {% endfor %}
    </div>
    <form class="message-form" onsubmit="sendMessage(); return false" method="post">
        {% csrf_token %}

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" name="textmessage" id="inputMessage">
            <label class="mdl-textfield__label" for="inputMessage">Text...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Send
        </button>
    </form>
</div>


{% else %}
<div>
    <h1>Your are not logged in</h1>
    <p>For login click <a href="/login/">here</a></p>
</div>
{% endif %}

{% endblock %}