{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<script>

    let currentMessage = {}

    async function sendMessage() {
        let fd = new FormData();
        let token = '{{ csrf_token }}'
        let user = '{{ request.user }}'
        let id = '{{ id }}'
        console.log(id);
        

        let date = new Date()
        let container = document.getElementById('messageContainer')
        container.innerHTML += temporaryMessageHTML(user, inputMessage.value, date)

        fd.append('textmessage', inputMessage.value);
        fd.append('csrfmiddlewaretoken', token);
        try {
            let resp = await fetch(`/chat/?id=${id}`, {
                method: 'POST',
                body: fd
            })
            let message = await resp.json()
            inputMessage.value = ''

            setTimeout(() => {
                if (message) {
                    let deleteMessage = document.getElementById('deleteMessage')
                    deleteMessage.remove()
                }

                currentMessage = JSON.parse(message)
                container.innerHTML += renderMessageHTML(currentMessage.fields.author, currentMessage.fields.text, currentMessage.fields.created_at)

            }, 3000);

        } catch (e) {
            console.error('an error occured', e)
        }


    }

    function temporaryMessageHTML(user, message, date) {
        return /*html*/`
        <div id="deleteMessage">
                [${date}] ${user}: ${message}
        </div>
        `    }

    function renderMessageHTML(user, message, date) {
        return /*html*/`
        <div>
                [${date}] ${user}: ${message}
        </div>
        `    }


</script>

<h1>Chat-App</h1>
{% if request.user.first_name %}
<h2>Welcome, {{request.user.first_name}} ({{request.user}})</h2>
{% else %}
<h2>Welcome, ({{request.user}})</h2>
{% endif %}

<form onsubmit="sendMessage(); return false" method="post">
    {% csrf_token %}
    <input type="text" name="textmessage" id="inputMessage">
    <button>Send</button>
</form>

<div>
    {% if receiver.first_name %}
    <h1>Your conversation with {{receiver.first_name}} ({{receiver}})</h1>
    {% else %}
    <h1>Your conversation with ({{receiver}})</h1>
    {% endif %}

    <div id="messageContainer">
        {% for message in messages %}
        <div>
            [{{message.created_at}}] {{message.author}}: {{ message.text }}
        </div>

        {% endfor %}
    </div>
</div>
{% else %}
<div>
    <h1>Your are not logged in</h1>
    <p>For login click <a href="/login/">here</a></p>
</div>
{% endif %}

{% endblock %}