{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}


<h1>Dashboard</h1>
<h3>Here are your Contacts</h3>

<script>
    async function startChat(contact) {
        let token = '{{ csrf_token }}'
        let url = '/home/'

        let fd = new FormData();
        fd.append('contact', contact);
        
        fd.append('csrfmiddlewaretoken', token);

        let resp = await fetch(url, {
            method: 'POST',
            body: fd
        })
        let id = await resp.json()
        if (id) {
            window.location.href = `../chat?id=${id}`;

        }

    }
</script>

<div>


    <div id="contact-container">
        {% csrf_token %}
        {% for contact in contacts %}
        <div>


            <div onclick="startChat('{{contact.contact}}')" class="contact">
                {{contact.contact}}
            </div>



        </div>

        {% endfor %}
    </div>
</div>
{% else %}
<div>
    <h1>Du bist nicht eingeloggt</h1>
    <p>um dich einzuloggen klicke <a href="/login/">hier</a></p>
</div>
{% endif %}

{% endblock %}