<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">

<script>
  async function logoutUser() {
    let url = '/logout/'
    let token = '{{ csrf_token }}'
    console.log(token);


    let fd = new FormData();
    fd.append('csrfmiddlewaretoken', token);

    let resp = await fetch(url, {
      method: 'POST',
      body: fd
    })
    let message = await resp.json()
    if (message.redirect)
      window.location.href = '/login'

  }
</script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <title>Document</title>
</head>

<body>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->

        <span class="mdl-layout-title">Welcome to Simple Chat</span>

        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        {% if request.user.is_authenticated %}
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link no-link">{{request.user}}</a>
        </nav>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          {% csrf_token %}
          <a class="mdl-navigation__link" onclick="logoutUser()">Logout</a>
        </nav>
        {% endif %}

      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Simple Chat</span>
      {% if request.user.is_authenticated %}
      <nav class="mdl-navigation info">
        <a class="mdl-navigation__link no-link">{{request.user}}</a>
      </nav>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" onclick="logoutUser()">Logout</a>
      </nav>
      {% endif %}
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </div>


</body>

</html>