{% extends "base.html" %}


{% block content %}

<h1>Register</h1>

{% if wrongPassword %}
<h1>Wrong username or password, please try again!</h1>
{% endif %}

<form class="login-form" method="post" action="/register/">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="firstName" placeholder="first name" />
    <input type="password" name="password" placeholder="password" />
    <input type="password" name="passwordConfirm" placeholder="confirm password" />

    <button>Register</button>
</form>

{% endblock %}